extends layout 

block content
    h2.mt-4= "Conferenze disponibili"
    table.table.mt-4
        thead
            tr
            th Nome
            th Acronimo
            th Anno
            th Data inizio
            th Data fine
            th Link
        
        tbody
            each conferenza in conferenze
                - var url= '/conferenza/'+ conferenza.acronimo + '/'+ conferenza.anno;
                tr
                    td= conferenza.nome
                    td= conferenza.acronimo
                    td= conferenza.anno
                    td= conferenza.datainizio
                    td= conferenza.datafine
                    td
                        a(href= url)
                            img(src="img/linkIcon.png")                     
    if admin
        form(action='/conferenza/nuovaConferenza1-3' method='GET')
            button.btn.btn-primary(type='submit') Nuova conferenza
