form(action='' method='POST')
    button.btn.btn-primary(type='submit') SEGUI

h4= "informazioni"
h2= conferenze[0].nome
h5= conferenze[0].logo 
h5= conferenze[0].acronimo
h5= conferenze[0].anno
h5= conferenze[0].datainizio
h5= conferenze[0].datafine
h5= conferenze[0].creatore
h4= "sessioni"

each conferenza in conferenze
    - var url= '/sessione/' + conferenza.sessione + '/'+ conferenza.titolosessione;
            a(href= url)
                h5= 'Nome sessione: '+conferenza.titolosessione
                h5= 'Data: '+conferenza.data
                h5= 'Ora inizio: '+conferenza.orai
                h5= 'Ora fine: '+conferenza.oraf
    form(action='/presentazione/nuovaPresentazione/'+conferenza.sessione method='GET')
        button.btn.btn-primary(type='submit') Aggiungi una presentazione
     

h4= "sponsor"

each sponsor in sponsors
    - var url= '/sponsor/' + sponsor.nome;
        a(href= url)
            h5= sponsor.nome