extends layout 

block content
    div.row
        div.col-2
            h1.mt-4= conferenze[0].nome
        div.col-4.mt-4
            if permessi 
                - var url = "/modifica" 
                form(action="./modifica" method='GET')
                    button.btn.btn-outline-light(type='submit') Modifica conferenza
    div.row.mt-5
        div.col-3
            -  var percorsoImg = '/uploads/'+conferenze[0].logo 
            img#logo(src= percorsoImg)
        div.col-6
            h3= "Informazioni"
            h5= conferenze[0].acronimo + "  " + conferenze[0].anno
            h5= "Inizia: " + conferenze[0].datainizio
            h5= "Finisce: " + conferenze[0].datafine
            - var creatore = "/utenti/" + conferenze[0].creatore
            h5= "Creatore: " + conferenze[0].creatore
        div.col-3
            if segui
                form(action='' method='POST')
                    button.btn.btn-primary.btn-lg(type='submit') SEGUI
            h5= "Numero iscritti"
            h5= numIscritti
            
    
    h4.mt-4= "Programma giornalieri:"
    
        #accordionExample.accordion.mt-4
        each giorno, i in giorni
            -var field = giorno.data
            -var index = "giorno"+i
            .accordion-item
                h2#headingOne.accordion-header
                button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target="#"+index aria-expanded='true' aria-controls=index)
                    | Programma del #{giorno.data}
                div.accordion-collapse.collapse.show(id=index aria-labelledby='headingOne' data-bs-parent='#accordionExample')
                    .accordion-body
                        div.row
                            each conferenza in conferenze
                                if giorno.data==conferenza.data
                                    div.col-3
                                        .card
                                            .card-body
                                                - var url= '/sessione/' + conferenza.sessione + '/'+ conferenza.titolosessione;
                                                a(href= url)
                                                    h5= 'Nome sessione: '+conferenza.titolosessione
                                                    h5= 'Data: '+conferenza.data
                                                    h5= 'Ora inizio: '+conferenza.orai
                                                    h5= 'Ora fine: '+conferenza.oraf
                                                form(action='/'+conferenza.sessione+'/chat' method='GET')
                                                    button.btn.btn-primary(type='submit') CHAT
                                            
                                                if permessi
                                                    form(action='/presentazione/nuovaPresentazione/'+conferenza.sessione method='GET')
                                                        button.btn.btn-primary(type='submit') Aggiungi una presentazione


    
    h4.mt-4= "Sponsor:"
    div.row
        each sponsor in sponsors
            div.col-2
                img.sponsor(src='/uploads/'+sponsor.logo)
                h5= sponsor.nome