extends layout 

block content
    h1= "Presentazioni a cui sei iscritto"
    table.table.mt-4
        thead
            tr
            th(scope='col') Acronimo
            th(scope='col') Anno
            th(scope='col') Nome
            th(scope='col') Data inizio
            th(scope='col') Data fine
        tbody
            each conferenza in conferenze
                tr
                td= conferenza.acronimo
                td= conferenza.anno
                td= conferenza.nome
                td= conferenza.datainizio
                td= conferenza.datafine
                  
    div.row.mt-5
        h2= "Classifiche"
        div.col-4
            h4= "Migliori conferenze per hype"
            table
                thead
                    tr
                    th Acronimo
                    th Anno
                    th Num. iscrizioni
                tbody
                    each conferenzaHype in conferenzeHype
                        tr
                        td= conferenzaHype.iscrizione_acronimo
                        td= conferenzaHype.iscrizione_anno
                        td= conferenzaHype.conta

        div.col-4   
            h4= "Migliori presentazioni per numero di like"
            table
                thead 
                    tr
                    th Titolo
                    th Num. like
                    th Tipo
                    th Anno
                    th Acronimo
                tbody
                    each presentazione in presentazioni 
                        tr
                        td= presentazione.titolo
                        td= presentazione.conta
                        td= presentazione.tipo
                        td= presentazione.anno
                        td= presentazione.acronimo

        div.col-4
            h4= "Migliori presenter/speaker"
            table
                thead 
                    tr  
                    th Username 
                    th Media voto 
                tbody 
                    each presentatore in miglioriPresenterESpeaker
                        tr
                        td= presentatore.votato
                        td= presentatore.mediaVoto

