extends layout 

block content
    h1= "Presentazioni a cui sei iscritto"
    table
        tr
            th Acronimo
            th Anno
            th Nome
            th data inizio
            th data fine
        each conferenza in conferenze
            tr
                td= conferenza.acronimo
                td= conferenza.anno
                td= conferenza.nome
                td= conferenza.datainizio
                td= conferenza.datafine

    h2= "Classifiche"
    h4= "Migliori presentazioni per numero di like"
    table
        tr
            th Acronimo
            th Anno
            th Num. like
        each presentazione in classificaPresentazioni
            tr
                td= presentazione.iscrizione_acronimo
                td= presentazione.iscrizione_anno
                td= presentazione.conta

    
    h4= "Eventi con più hype"
    each evento in classificaEventi 
        p #{evento.conta} #{evento.preferiti_presentazione}

    h4= "Migliori presenter/speaker"
    each presentatore in miglioriPresenterESpeaker
        p #{presentatore.mediaVoto} #{presentatore.valutazione_presentazione}

