extends layout 

block content 
  div.row
    div.col-7
      if errore
        .alert.alert-danger.d-flex.align-items-center(role='alert')
          svg.bi.bi-exclamation-triangle-fill.flex-shrink-0.me-2(xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='currentColor' viewBox='0 0 16 16' role='img' aria-label='Warning:')
            path(d='M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z')
          div
          | Errore: #{msg}
      h1= 'Stai aggiungengo una presentazione alla sessione: '+sessione[0].sessione+' del: '+sessione[0].data+' della conferenza: '+sessione[0].anno+' '+sessione[0].acronimo
      form(action='/presentazione/nuovaPresentazione/'+sessione[0].id method='POST')
        .form-group
          label(for='oraI') Ora inizio
          input#oraI.form-control(type='time' name='oraI')
        .form-group
          label(for='oraF') Ora fine
          input#oraF.form-control(type='time' name='oraF')
        .form-group
          label(for='ordine') Ordine
          input#ordine.form-control(type='num' name='ordine')
        .form-group
          label(for='tipo') Tipologia della presentazione:
            select#tipo.form-control(type='select' placeholder='Select tipologia' name='tipo' required='true')
                option(
                  value= '/presentazione/tutorial'
                ) tutorial
                option(
                  value= '/presentazione/articolo'
                ) articolo
                tipo= tipo
          
        button.btn.btn-primary(type='submit') Crea 



