extends layout 

block content 

    h2.mt-3= "Utenti"
    each utente in utenti
        -var url = "utenti/"+utente.username
        a(href=url)
            h3= utente.username + "  "  + utente.nome + "  "  + utente.cognome

    h2.mt-5= "Conferenze"
    each conferenza in conferenze 
        -var url = "conferenza/"+conferenza.acronimo+"/"+conferenza.anno
        a(href=url)
            h3= conferenza.nome + "  "  + conferenza.acronimo + "  "  + conferenza.anno