extends layout 

block content
    h1= user
    h1= ruolo

    h2= username
    h3= "Informazioni personali"
    h5= nome 
    h5= cognome 
    h5= luogoNascita 
    h5= dataNascita
    
    h3= "Conferenze"
    table
        tr
            th Nome
            th Acronimo
            th Anno
            th data inizio
            th data fine
        each conferenza in conferenze
            tr
                td= conferenza.nome
                td= conferenza.acronimo
                td= conferenza.anno
                td= conferenza.datainizio
                td= conferenza.datafine
    
    h3= "Presentazioni preferite"
    table
        tr
            th Nome conferenza
            th Data
        each presentazione in presentazioni
            tr
                td= presentazione.conferenzaNome
                td= presentazione.programma_giornalieroData

    form(action='../nuovoAdmin' method='POST')
        button.btn.btn-primary(type='submit') Diventa un ADMIN!

    form(action='../nuovoPresenter' method='GET')
        button.btn.btn-primary(type='submit') Diventa un PRESENTER!

    form(action='../nuovoSpeaker' method='GET')
        button.btn.btn-primary(type='submit') Diventa uno SPEAKER!