extends layout 

block content
    h1= user
    h1= ruolo
    form(action='/nuovoAdmin' method='POST')
        button.btn.btn-primary(type='submit') Diventa un ADMIN!

    h2= username
    h3= "Informazioni personali"
    h5= nome 
    h5= cognome 
    h5= luogoNascita 
    h5= dataNascita
    
    h3= "Conferenze"
    each conferenza in conferenze
        h5= conferenza.nome
        h5= conferenza.acronimo
        h5= conferenza.anno
        h5= conferenza.datainizio
        h5= conferenza.datafine
    

    h3= "Presentazioni preferite"
    each presentazione in presentazioni
        h5= presentazione.conferenzaNome
        h5= presentazione.programma_giornalieroData