extends layout 

block content
    h1= user
    h1= ruolo
    
    if fotoProfilo
        -  var percorsoImg = '/uploads/'+fotoProfilo
        img(src= percorsoImg)
    h2= username
    if aggiorna2
        form(action='/files/'+cv)
            button.btn.btn-outline-primary(type='submit') Guarda curriculum


    h3= "Informazioni personali"
    h5= nome 
    h5= cognome 
    h5= luogoNascita 
    h5= dataNascita
    
    h3= "Conferenze"
    table
        tr
            th Nome 
            th Acronimo
            th Anno
            th data inizio
            th data fine
        each conferenza in conferenze
            tr
                td= conferenza.nome
                td= conferenza.acronimo
                td= conferenza.anno
                td= conferenza.datainizio
                td= conferenza.datafine
    
    h3= "Presentazioni preferite"
    table
        tr
            th Nome conferenza
            th Data
        each presentazione in presentazioni
            tr
                td= presentazione.conferenzaNome
                td= presentazione.programma_giornalieroData
    

    if modifica
        .btn-group
            button.btn.btn-primary.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                | UPGRADES
            ul.dropdown-menu
                li
                    a.dropdown-item(href='../nuovoAdmin') Diventa un ADMIN!
                li
                    a.dropdown-item(href='../nuovoPresenter') Diventa un PRESENTER!
                li
                    a.dropdown-item(href='../nuovoSpeaker') Diventa uno SPEAKER!
    if aggiorna1
        form(action='./'+username +'/modificaProfilo' method='GET')
            button.btn.btn-primary(type='submit') AGGIORNA INFORMAZIONI

    if aggiorna2
        form(action='./'+username +'/modificaInfoPS' method='GET')
            button.btn.btn-primary(type='submit') AGGIORNA INFORMAZIONI2