h4= "Sessione"
h2= presentazioni[0].titolosessione

h4= "Presentazioni"

each presentazione in presentazioni
    h5= 'Titolo Presentazione: '+presentazione.titolo
    h5= 'Ora inizio: '+presentazione.orai
    h5= 'Ora fine: '+presentazione.oraf