extends layout

block content
    div.row-2
        div.col-7

            h3= 'Articolo: '+ articoli[0].titolo 
            if msg !=""
                .alert.alert-success.d-flex.align-items-center(role='alert')
                    svg(xmlns='http://www.w3.org/2000/svg' style='display: none;')
                        symbol#check-circle-fill(fill='currentColor' viewBox='0 0 16 16')
                            path(d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z')
                        div
                        | #{msg}
            h5='Autori: '
            each articolo in articoli
                h5= articolo.nome +' '+ articolo.cognome
            h5='Pdf: '  
                a(href="/files/"+articoli[0].pdf  target='_blank')
                    h5= articoli[0].pdf
            h5='Pagine: '+articoli[0].n_pagine
            - var url= '/utenti/'+ articoli[0].presenter
                a(href= url)
                    h5='Presenter: '+articoli[0].presenter
            if admin && orario && add
                form(action='/articolo/'+presentazione+'/vota' method='POST')
                    select#sponsors.form-control(type='select' placeholder='0' name='voto')
                        each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                            option(
                            value= val
                            ) #{val}
                    button.btn.btn-primary(type='submit') Vota!
            else if !add
                select#sponsors.form-control(type='select' placeholder='0' name='voto')
                button.btn.btn-primary(type='submit'  disabled='') Vota!

            if articoli[0].presenter!= null
                button.btn.btn.btn-primary(type='button' disabled='') ASSEGNA PRESENTER
            else    
                form(action='/articolo/'+presentazione+'/presenter' method='GET')
                    button.btn.btn-primary(type='submit') ASSEGNA PRESENTER
            if seguito
                form(action='/articolo/'+ username +'/mipiace/'+ presentazione method='POST')
                    button.btn.btn-primary(type='submit') MI PIACE
            else 
                button.btn.btn-primary(type='button' disabled='') MI PIACE
                
            
            