extends layout

block content
    div.row-2
        div.col-7

            h3= 'Tutorial: '+ tutorials[0].titolo 
            h5='Speaker: '
                each tutorial in tutorials
                    - var url= '../utenti/'+ tutorial.speaker//ancora non c'è il link
                      a(href= url)
                        h5= tutorial.speaker
            h5= 'Abstract: '+tutorials[0].abstract
            if seguito
                form(action='/tutorial/'+ username +'/mipiace/'+ presentazione method='POST')
                    button.btn.btn-primary(type='submit') MI PIACE
            else 
                button.btn.btn-primary(type='button' disabled='') MI PIACE
            if vota
              form(action='/tutorial/'+presentazione+'/vota' method='POST')
                select#sponsors.form-control(type='select' placeholder='0' name='voto')
                  each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                    option(
                      value= val
                    ) #{val}
                button.btn.btn-primary(type='submit') Vota!
            if speaker
              -var u = presentazione +'/addRisorsaAggiuntiva'
              form(action=u method='POST' enctype='multipart/form-data')
                .form-group
                    label(for='cv') Carica risorsa aggiuntiva: 
                    input(type='file' name='risAgg' accept='pdf/*')
                .form-group
                    label(for='descrizione') Descrizione:
                    input.input-fiel(type='text' placeholder='Descrizione' name='descrizione')
                button.btn.btn-primary(type='submit') Carica
